@charset "utf-8";
body {
	font-family: 'Montserrat', sans-serif;
	background-color: #F6F6F6;
	margin: 0;
}
header {
	background-color: #E8E8E8;
	padding: 20px 0;
}
h1 {
	color: #990100;
	text-align: center;
	font-size: 45px;
	letter-spacing: 7px;
	font-weight: 800;
	margin: 10px;
}
nav {
	font-size: 15px;
	text-align: center;
}
nav ul {
	list-style: none;
}
nav ul li {
	display: inline-block;
	margin: 25px 0;
}
nav ul li a {
	color: #990100;
	background-color: #E8E8E8;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	text-decoration: none;
	padding: 15px 20px;
	margin: 20px;
	transition: background-color 0.3s;
}
nav ul li a:hover {
	background-color: #B90504;
	color: #000000;
}
main {
	margin: 50px 0;
}
h2 {
	font-size: 27px;
	font-weight: 700;
	letter-spacing: 5px;
	text-align: center;
	padding: 15px;
	position: relative;
	left: 210px;
}
img {
	display: block;
	margin: 0 auto;
	position: relative;
	bottom: 55px;
	left: 250px;
	width: 25%;
	float: left;
}
p {
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	width: 540px;
	margin: 30px auto;
}
h2, p {
	position: relative;
	left: 210px;
	top: 100px;
}